
@import "partials/variables";
@import "partials/mixins";
@import "partials/extend";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(241, 227, 227, 0.918);
}
a{
    text-decoration: none;
    color: black;
}

/* Inicio de estilos del header */

header.titulo-fluid{
    @include estiloheader;
        
h1{
    color: $color-h1;
    font-size: 60px;
    font-family: fantasy;
}

 }

 /*fin de estilos del header*/
nav{
    .logo{
        margin-left: 30px;
    }
    .navegacion{
        font-weight: 600;
        color: white;
        font-size: 18px;
    }
}



/* Estilos del main del index */

 section{

    .img-main{
        width: 600px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .texto-main{
        font-weight: $fontweightestandar;
        padding-top: 30px;
        font-size: 16px;
    }

    .img-muestra{
        width: $Anchoimg;
        height: $Altoimg;
        padding: 10px;
        &:hover{
            transform: scale(1.03,1.03);
            transition: 1s;
        }
    }

    .info-extra{
        display: flex;
        justify-content: center;
        font-weight: $fontweightestandar;
        margin-bottom: 10px;
        padding-bottom:20px ;
        padding-top: 20px;
        font-size: 16px;
    
    }

 }

 /* Fin de los estilos del index */


/* Estilos del contacto */
 
.contacto{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

    .padre-contact{
        box-shadow: 0 0 20px 0 rgb(8, 8, 8);
        padding: $paddingestandar;

        .contacto-form form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            .bloque{
                grid-column: 1/3;
            }
            p{
                margin: 0;
                padding: $paddingestandar;
            }
            button,
            input,
            textarea{
                width: $Anchomax;
                padding: .7em;
                border: none;
                background: none;
                outline: 0;
                border-bottom: 1px solid;
    
            }
            button{
                background-color: grey;
                border: 0;
                text-transform: uppercase;
                padding: $paddingestandar;
              &:hover,
              &:focus{
                background-color: rgb(65, 62, 62);
                outline: 0;
                color: white;
            } 
            }
        }

    }
.mas-contact h4,
.mas-contact ul,
.mas-contact p{
    text-align: center;
    padding: 0;

}
.mas-contact ul{
    list-style: none;
    padding: 0;
    li{
        padding: .3em;
    }
}

}

footer{
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    height: 100%;
    width: $Anchomax;
    .redes{
        font-weight: $fontweightestandar;
    }
    .img-redes{
        width: 40px;
        height: 40px;
        margin-left: 10px;
     }

}

section{
    .img-nos{
        width: 800px;
        height: auto;
        padding: 15px;
        &:hover{
            transform: scale(1.03,1.03);
            transition: 1s;
        }
    
    }

    .title-h2{
        @include paddingh2(25px , 40px);

    }
}

.card-centros{
    @include elpadding(30px);
    &:hover{
        transform: scale(1.03,1.03);
        transition: 1s;
    }
}
   
 





@import "partials/queris";

