$Anchomax: 100%;
$Anchomedio: 50%;
$fontweightestandar: 600;
$fontsizegrnade: 90px;
$fontsizemediano: 60px;
$fontsizechico: 30px;
$paddingestandar: 1em;
$Anchoimg: 400px;
$Altoimg: 400px;
$color-h1:rgb(255, 255, 255);
